<div class="d-flex">


    <!-- SIDEBAR -->
     <div class="sidebar bg-dark text-white p-3">

        <h5 class="mb-4">Task Manager</h5>

        <p class="text-muted">
            👤 {{username}}
        </p>

        <ul class="nav flex-column">

            <li class="nav-item">
                <a routerLink="/dashboard" class="nav-link text-white">Dashboard</a>
            </li>

            <li class="nav-item">
                <a routerLink="/tasks" class="nav-link text-white">Tasks</a>
            </li>

            <li class="nav-item">
                <a routerLink="/add-task" class="nav-link text-white">Add Task</a>
            </li>
        </ul>
     </div>

        <!-- MAIN CONTENT -->
         <div class="main-content flex-grow-1">

            <!-- NAVBAR -->
             <nav class="navbar navbar-light bg-light px-3 shadow">

                <span class="navbar-brand mb-0 h1">Dashboard</span>

                <div>
                    <span class="me-3">{{ username }}</span>

                        <button class="btn btn-danger btn-sm" (click)="logout()">
                            Logout
                        </button>
                </div>
             </nav>

             <!-- PAGE CONTENT -->
              <div class="p-3">
                <router-outlet></router-outlet>
              </div>
         </div>
</div>
