<div class="card p-4 shadow-sm">

    <h2 class="mb-4">Task List</h2>

    <!-- empty State -->
     <div *ngIf="tasks.length === 0" class="text-muted text-center py-3">
        No tasks yet. Add one above 👆
     </div>

     <!-- Task Item -->
      <ul *ngIf="tasks.length > 0" class="list-group">
        <li *ngFor="let task of tasks; let i = index"
            class="list-group-item d-flex justify-content-between align-item-center">

            <div>
                <strong class="d-block">{{ task.title }}</strong>
                <span class="text-muted">{{ task.description }}</span>
            </div>

          <div>
             <!-- Edit Button -->
            <button class="btn btn-primary me-2" (click)="editTask(i)">
              Edit
            </button>

            <!-- Delete Button -->
             <button class="btn btn-sm btn-danger" (click)="deleteTask(i)">
              Delete
             </button>

          </div>
        </li>
      </ul>
</div>