<div class="bg-white p-6 rounded-2x1 shadow-md">

    <h2 class="text-x1 font-semmibold mb-4">Task List</h2>

    <!-- empty State -->
     <div *ngIf="tasks.length === 0" class="text-gray-400 text-center py4">
        No tasks yet. Add one above 👆
     </div>

     <!-- Task Item -->
      <ul *ngIf="tasks.length > 0" class="space-y-3">
        <li *ngFor="let task of tasks"
            class="flex justify-between items-center p-3 bg-gray-50 rounded-x1 hover:bg-gray-100 transition">

            <div>
                <strong class="block">{{ task.title }}</strong>
                <span class="text-gray-600">{{ task.description }}</span>
            </div>

            <!-- Delete Button -->
            <!-- <button (click)="deleteTask(i)" class="text-red-500 hover:textred-700">✕</button> -->
        </li>
      </ul>
</div>