<div class="container mt-4">
    <h2 class="mb-4"> Add Task</h2>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <!-- Title -->
     <div>
        <label class="form-label">Title:</label>
        <input 
            type="text"
            formControlName="title"
            class="form-control"
            placeholder="Enter task title"
            />
            <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched"
            class="text-danger mt-1">
                Title is required
            </div>
     </div>

     <!-- Description -->
      <div>
        <label class="mb-3">Description</label>
        <textarea 
            formControlName="description"
            class="form-control"
            placeholder="Enter task description"
        ></textarea>
      </div>

      <!-- Submit Button -->
       <button
       type="submit"
       [disabled]="taskForm.invalid"
       class="btn btn-primary" 
       >
        Add Task
       </button>
    </form>
</div> 

