<div class="container mt-4">
    <h2 class="mb-4">{{ editTaskId ? 'Edit Task' : 'Add Task' }}</h2>

    <form (ngSubmit)="saveTask()" class="space-y-4">

    <!-- Title -->
     <div class="mb-3">
        <label class="form-label">Title:</label>
        <input 
            type="text"
            [(ngModel)]="task.title"
            name="title"
            class="form-control"
            placeholder="Enter task title"
            required
            />
     </div>

     <!-- Description -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea 
            [(ngModel)] = "task.description" name="description"
            class="form-control"
            placeholder="Enter task description"
        ></textarea>
      </div>

      <!-- Submit Button -->
       <button
       type="submit"
       class="btn btn-primary" 
       > 
       {{ editTaskId ? 'Update Task' : 'Add Task' }}
       </button>
       <button type="button" class="btn btn-secondary ms-2" routerLink="/tasks">
        Cancel
       </button>
    </form>
</div> 

